// COLORS
$color-primary-blue: #50AEE5;
$color-primary-darkblue: #244088;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-recuperar: #c52830;
$color-recuperar-dark: #360a0d;
$color-digestcare: #14954c;
$color-digestcare-dark: #062b16;
$color-mantener: #f49d10;
$color-mantener-dark: #422a03;
$color-redensificar: #ec778c;
$color-redensificar-two: #f8bfc9;
$color-redensificar-dark: #3b1e23;
$color-sleepcare: #107abc;
$color-sleepcare-dark: #04253a;
$color-vitalcare: #eb8400;
$color-vitalcare-dark: #3f2401;
$color-immuncare: #69b743;
$color-immuncare-dark: #1e3513;
$color-vigorcare: #cb6856;
$color-vigorcare-dark: #41201a;

$color-active: #fa1f47;

// FONT 
$default-font-size: 1.6rem;